@import '../../styles/_mixin.scss';

.card {
    background-color: #fff;
    padding: 30px 10px;
    height: 120px;
    display: flex;
    align-items: center;
    width: calc(95% / 4);
    border-radius: 10px;

    @include mobile {
        width: 100%;
        margin: 10px 0;
    }

    .iconblock {
        padding: 20px;
        border-radius: 50%;

        .icon {
            width: 50px;
            height: 50px;

            @include xs {
                width: 30px;
                height: 30px;
            }
        }
    }

    &_deatils {
        padding-left: 10px;

        @include xs {
            padding-left: 40px;
        }

        .text {
            &:first-child {
                color: #c5c5c5;
                font-size: 12px;
                font-weight: 500;
            }

            &:nth-child(2) {
                font-size: 18px;
                font-weight: 600;
            }

            &:last-child {
                span {
                    font-weight: 600;

                    &.green {
                        color: green;
                    }

                    &.red {
                        color: red;
                    }
                }

                font-size: 12px;
                font-weight: 500;

            }
        }
    }

}