@import './_mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden !important;
        scroll-behavior: smooth;
        letter-spacing: .24px;
        background-color: #f5f6f8;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;
        }

        p,
        a,
        ul li {
            margin-bottom: 0;
        }

        input,
        button,
        textarea,
        label {
            margin-bottom: 0;

        }

        label {
            display: block;
        }

        a {
            text-decoration: none !important;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        img {
            width: 100%;
            max-width: 100%;
        }

        button:active,
        button:focus,
        input:active,
        input:focus,
        input:focus-visible {
            box-shadow: none;
            outline: 0;
        }

        .form_control {
            display: block;
            width: 100%;
        }

        button:focus {
            outline: 0;
        }

        textarea {
            resize: none;
        }

        button {
            cursor: pointer;
            display: inline-block;
            border: none;
            padding: 0px;
            background: transparent;

        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            appearance: none;
            margin: 0;
        }
    }
}

.contain {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 25px;
    padding-left: 25px;

    @include mobile {
        padding: 0px 15px;
    }
}