@import '../../styles/_mixin.scss';

.main {
    position: relative;
    left: 250px;
    width: 80vw;
    height: 100vh;
    padding: 20px 30px;

    @include mobile {
        left: 0;
        width: 100%;
        padding: 20px 10px;
    }

    .name {
        font-size: 18px;
        font-weight: 600;

        .icon {
            color: gold;
        }
    }

    .searchbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;

        }

        .inputblock {
            background-color: #fff;
            padding: 5px 10px;
            border-radius: 5px;

            @include mobile {
                margin: 10px 0;
            }

            .searchicon {
                color: grey;
                padding-right: 5px;
            }
        }

        input {
            border: none;
        }
    }

    .cardblock {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .graph {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;

        @include mobile {
            flex-direction: column;
        }

        .bargraph {
            width: 65%;
            height: 400px;
            background-color: #fff;
            padding: 40px 20px;
            padding-top: 20px;
            border-radius: 10px;

            @include mobile {
                width: 100%;
                margin-bottom: 20px;
            }

            @media (max-width : 320px) {
                height: 260px;
            }

            .chart-wrapper {
                margin-bottom: 10px;

                canvas {
                    @include xs {
                        height: 330px !important;
                    }

                    @include xl-tiny {
                        height: 200px !important;
                        width: 220px !important;
                    }



                }
            }
        }

        .block {
            display: flex;
            align-items: center;
            justify-content: space-between;


            .sidetext {
                padding: 5px;
                background-color: #f2efff;
                font-size: 12px;
                font-weight: 500;
                border-radius: 5px;
                color: #a9a7a7;
            }
        }

        .textblock {
            .text {
                font-size: 15px;
                font-weight: 700;

                &:last-child {
                    padding-top: 5px;
                    font-size: 10px;
                    font-weight: 500;
                    color: #cccccc;
                }
            }
        }

        .chartgraph {
            width: 30%;
            background-color: #fff;
            padding: 40px 20px;
            padding-top: 20px;
            border-radius: 10px;

            @include mobile {
                width: 100%;
            }
        }
    }

    .chartjs-tooltip {
        display: none;
    }

    .graphtext {
        font-size: 14px;
        font-weight: 500;

        &:first-child {
            font-size: 24px;
            font-weight: 700;
        }
    }

    .datatable {
        margin-top: 30px;
        padding: 20px;
        padding-bottom: 0;
        border-radius: 10px;
        background-color: #fff;

        .inputblock {
            background-color: #f2efff;

            @include xs {
                display: flex;
            }

            input {
                background-color: #f2efff;
            }
        }

        .block {
            padding: 0 10px;
            display: flex;
            align-items: center;

            @include xs {
                flex-direction: column;
            }

            .blocktext {
                border-radius: 5px;
                background-color: #f2efff;
                padding: 5px;
                margin: 0 10px;
            }
        }
    }
}